<a href="https://colab.research.google.com/github/matiasenriqueva/Proyecto-Final-Machine-Learning/blob/main/MLPF_S2_Scrub.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Proyecto Final - Reconocimiento de Actividad Humana (HAR)

In [172]:
import tensorflow as tf
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler, LabelEncoder

###Entrega 01 - OBTAIN

Incluir todo el c√≥digo de la Etapa 01 - OBTAIN creada en la semana anterior

In [173]:
from google.colab import drive
drive.mount('/content/drive/')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [174]:
file = pd.read_table('/content/drive/MyDrive/CourseML/Datasets/WISDM/WISDM_ar_v1.1_raw.txt',header=None, on_bad_lines='skip')

df = pd.DataFrame(file)
df.head()

                                                   0
0  33,Jogging,49105962326000,-0.6946377,12.680544...
1  33,Jogging,49106062271000,5.012288,11.264028,0...
2  33,Jogging,49106112167000,4.903325,10.882658,-...
3  33,Jogging,49106222305000,-0.61291564,18.49643...
4  33,Jogging,49106332290000,-1.1849703,12.108489...

###Entrega 02 - SCRUB

Eliminar filas con datos faltantes

*Uno de los pasos iniciales en la limpieza de datos consiste en eliminar aquellas filas que contengan datos faltantes. Estas l√≠neas generalmente no aportan informaci√≥n y pueden complicar la etapa de entrenamiento y validaci√≥n de muchos modelos predictivos.*

In [175]:
data_list= []

for i in range(len(df)):
    try:
        row = df.iloc[i,0]
        row = row.split(',')
        semicolon_row = row[5].split(';')[0]
        semicolon_row = semicolon_row.strip()
        if semicolon_row == '':
            break;
        df_row = [row[0], row[1], row[2], row[3], row[4], semicolon_row]
        data_list.append(df_row)
    except:
        print('Error at line number: ', i)

#Probablemente esto no arroje ningun error, pues a la hora de cargar el archivo con pandas se saltaron
#las lineas erroneas, adem√°s no se esta leyendo el archivo directamente.

df = pd.DataFrame(data_list)

Agregar al DataFrame los nombres de las columnas

*En ocasiones al crear los data frames el sistema asigna nombres gen√©ricos y correlativos a las columnas. Es recomendable renombrar las columnas por nombres significativos para favorecer el an√°lisis posterior de los datos.*

In [176]:
df.columns = ['user', 'activity', 'time', 'x', 'y', 'z']

Visualizar las 5 primeras filas del DataFrame (.head())

*Siempre es buena medida visualizar algunas l√≠neas del dataframe para tener una idea concreta del contenido.*

In [177]:
df.head()

  user activity            time            x          y            z
0   33  Jogging  49105962326000   -0.6946377  12.680544   0.50395286
1   33  Jogging  49106062271000     5.012288  11.264028   0.95342433
2   33  Jogging  49106112167000     4.903325  10.882658  -0.08172209
3   33  Jogging  49106222305000  -0.61291564  18.496431    3.0237172
4   33  Jogging  49106332290000   -1.1849703  12.108489     7.205164

Buscar datos nulos y eliminarlos si es que existen

In [178]:
df = df.dropna()
df.isnull().sum()

user        0
activity    0
time        0
x           0
y           0
z           0
dtype: int64

Visualizar los tipo de datos a los que pertenece cada columna (.info())

*Es necesario tener un detalle de cuantas variables est√°n considerando y el tipo de datos que pertenecen para verificar si es posible utilizarla directamente para el modelo predictivo o si es necesario realizar una transformaci√≥n del tipo de dato.*

In [179]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 343416 entries, 0 to 343415
Data columns (total 6 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   user      343416 non-null  object
 1   activity  343416 non-null  object
 2   time      343416 non-null  object
 3   x         343416 non-null  object
 4   y         343416 non-null  object
 5   z         343416 non-null  object
dtypes: object(6)
memory usage: 18.3+ MB

Cambiar el tipo de datos de las variables predictoras a valores reales, para realizar la clasificaci√≥n

*Muchas de las variables contenidas en el DataFrame originalmente se encuentran en el tipo de dato 'object'. En ese formato las variables no pueden ser interpretadas como vectores. Recordemos que la mayor√≠a de los modelos de Machine Learning estudiados operan en el espacio vectorial. Por esta raz√≥n las variables que formar√°n parte del modelo predictivo deben ser transformadas a un formato num√©rico como 'Float' o 'integer'.*

Para este proyecto en particular se pide transformar  al tipo de dato Float, las variables del aceler√≥metro en el eje $x$, $y$ y $z$

In [180]:
df['x'] = df['x'].astype('float')
df['y'] = df['y'].astype('float')
df['z'] = df['z'].astype('float')

Imprimir los tipos de datos de las variables del DataFrame

*Se recomienda volver a ejecutar el comando info para verificar que efectivamente las variables cambiaron su tipo de dato y que ahora se pueden procesar con los modelos predictivos.*

In [181]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 343416 entries, 0 to 343415
Data columns (total 6 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   user      343416 non-null  object
 1   activity  343416 non-null  object
 2   time      343416 non-null  object
 3   x         343416 non-null  float64
 4   y         343416 non-null  float64
 5   z         343416 non-null  float64
dtypes: float64(3), object(3)
memory usage: 18.3+ MB

Eliminar las columnas que no se utilizaran para la clasificaci√≥n

*En este caso deber√≠amos conservar la actividad respectiva y las variables asociadas al aceler√≥metro*

In [182]:
df = df.drop(['user', 'time'], axis = 1)
df.head()

  activity         x          y         z
0  Jogging -0.694638  12.680544  0.503953
1  Jogging  5.012288  11.264028  0.953424
2  Jogging  4.903325  10.882658 -0.081722
3  Jogging -0.612916  18.496431  3.023717
4  Jogging -1.184970  12.108489  7.205164

Utilizar el comando *value_counts* para obtener un detalle de cuantas instancias se tienen por actividad. El objetivo consiste en identificar la presencia del balance o desbalance en las categor√≠as a modelar

In [183]:
df["activity"].value_counts()

Walking       137375
Jogging       129392
Upstairs       35137
Downstairs     33358
Sitting         4599
Standing        3555
Name: activity, dtype: int64

Este proyecto considera datos con un desbalance de clases. Es necesario balancearlos para que los modelos operen de manera adecuada. Existen muchas maneras de realizar un balance, pero en este proyecto utilizaremos una estrategia sencilla e intuitiva. Simplemente debe identificar la actividad que contenga el n√∫mero menor de instancias. Se debe realizar un muestreo para las otras actividades utilizando ese valor. De esta manera todas las clases tendr√°n la misma cantidad de instancias.

In [184]:
standing = df[df['activity']=='Standing'] #Standing es la actividad con menos instancias
size = len(standing)

walking = df[df['activity']=='Walking'].head(size)
jogging = df[df['activity']=='Jogging'].head(size)
upstairs = df[df['activity']=='Upstairs'].head(size)
downstairs = df[df['activity']=='Downstairs'].head(size)
sitting = df[df['activity']=='Sitting'].head(size)

df_ds = pd.concat([walking, jogging, upstairs, downstairs, sitting, standing])

Establecer el n√∫mero de instancias y dimensiones del data frame resultante *(shape)*

In [185]:
df_ds.shape

(21330, 4)

Volver a imprimir la cantidad de instancias por categor√≠a para verificar que todo est√© en orden. *(value_counts)*

In [186]:
df_ds["activity"].value_counts()

Walking       3555
Jogging       3555
Upstairs      3555
Downstairs    3555
Sitting       3555
Standing      3555
Name: activity, dtype: int64

Volver a visualizar las cinco primeras l√≠neas del DataFrame para revisar que todo est√© en orden *(head)*

In [187]:
df_ds.head()

    activity         x          y         z
597  Walking  0.844462   8.008764  2.792171
598  Walking  1.116869   8.621680  3.786457
599  Walking -0.503953  16.657684  1.307553
600  Walking  4.794363  10.760075 -1.184970
601  Walking -0.040861   9.234595 -0.694638

Separar las variables predictoras (X) de las ctegorias o etiquetas (y)

In [188]:
X = df_ds[["x", "y", "z"]]
y = df_ds[["activity"]]
X.head()

            x          y         z
597  0.844462   8.008764  2.792171
598  1.116869   8.621680  3.786457
599 -0.503953  16.657684  1.307553
600  4.794363  10.760075 -1.184970
601 -0.040861   9.234595 -0.694638

Estandarizar los datos numericos (*StandardScaler)*

*Para el caso de la estandarizaci√≥n de los datos se pueden usar distintas t√©cnicas, como la normalizaci√≥n 01, estandarizaci√≥n entre -1 y 1 o el denominado Z-Score. En este caso usaremos la funci√≥n Standard Scaler de Python con sus valores por defecto.*

In [189]:
scaler = StandardScaler()
X = scaler.fit_transform(X)
X = pd.DataFrame(X, columns = ['x','y','z'])
X.head()

          x         y         z
0  0.000503 -0.099190  0.337933
1  0.073590  0.020386  0.633446
2 -0.361275  1.588160 -0.103312
3  1.060258  0.437573 -0.844119
4 -0.237028  0.139962 -0.698386

Como √∫ltimo paso debe reconstruir el dataframe pegando las columnas de los variables predicadores (X) y las categor√≠as (y)

In [190]:
df_clean = pd.concat([y,X], axis = 1)
df_clean.head()

  activity         x         y         z
0  Jogging  0.000503 -0.099190  0.337933
1  Jogging  0.073590  0.020386  0.633446
2  Jogging -0.361275  1.588160 -0.103312
3  Jogging  1.060258  0.437573 -0.844119
4  Jogging -0.237028  0.139962 -0.698386